#container {
    width: 50%;
    margin: 20px auto;
}

body {
     background-color: rgb(235, 223, 201)!important; 
}

#posts {
    list-style-type: none;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 1%;
}

.link {
    float: right;
    color: black;
}

.center {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.space {
    padding-top: 50px;
}

