* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#UpdateBlogPost {
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem 2rem 2rem 2rem;
    height: auto;
    width: 80%;
    text-align: center;
    background: rgb(228, 229, 233);
    padding: 20px;
}

h1 {
    text-align: center;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 5px;
    cursor: pointer;
}

#tags {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 5px;
    cursor: pointer;
}

#author {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 5px;
    cursor: pointer;
}

#content {
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    min-height: 200px;
    font-size: 0.8rem;
    margin-bottom: 15px;
    padding: 5px;
    cursor: pointer;
}

#submit-btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 20px;
    width: 100px;
    cursor: pointer;
    transition: 0.6s ease;
}

#submit-btn:hover {
    background: rgb(126, 170, 126);
    color: white;
    border: none;
}