html{
    background-color: lightblue;
}
#blog-list, 
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}
.rightSide {
    float: right;
}
#blog-list{
    width: 100%;
    background-color: white; 
}
#container{
    margin: 0 10%;
}
